.header {
  width: 100%;
  height: 61px;
  padding: 0px 20px;
  background-color: #fefefe;
  border-bottom: 1px solid #ebebeb;
}

.company-menu {
  display: flex;
  height: 100%;
  margin: 0px auto;
  max-width: 1400px;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  margin-top: 5px;
  margin-right: 61px;
}
.left-company-nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.left-company-nav ul li {
  display: flex;
  font-weight: 600;
  font-size: 15px;
  margin-top: 2px;
  /* align-items: center; */
}
.left-company-nav ul li img {
  width: 20px;
  height: 20px;
}

.career-menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.right-user-menu {
  display: flex;
  align-items: center;
}
.right-user-menu span {
  display: flex;
  justify-content: center;

  height: 40px;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
  padding: 11px;
  padding-top: 9px;
}
.right-user-menu span img {
  width: 24px;
  height: 24px;
}
.right-user-menu span:hover {
  background-color: #f8f8f8;

  /* border-radius: 20px; */
}
.auth-form {
  padding: 8px 14px;
  padding-bottom: 9px;
  background-color: #ffffff;

  cursor: pointer;
  border-radius: 9px;
  border: 1px solid #e2e2e2;
  transition: all 0.3s;

  color: #2a68ff;
  font-size: 13px;
  font-weight: 600;
  margin-right: 6px;
  margin-bottom: 1px;
}
.auth-form:hover {
  background-color: #f3f3f3;
}
.company-services {
  padding: 8px 14px;
  padding-bottom: 9px;
  background-color: #ffffff;

  cursor: pointer;
  border-radius: 9px;
  border: 1px solid #e2e2e2;
  transition: all 0.3s;

  color: #171719;
  font-size: 13px;
  font-weight: 600;

  margin-right: 6px;
  margin-bottom: 1px;
}
