.main {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-layout {
  width: 1400px;
  margin: 0px auto;
}
.main-top-login {
  display: flex;
  /* width: 100%; */
  height: 58px;

  margin-top: 36px;
  margin-bottom: 48px;
  justify-content: center;
}
.main-login-bt {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  margin: 0 20px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  background-color: #f9fafa;
  cursor: pointer;
  border-radius: 12px;
}
.main-login-bt span {
  color: #2c69ff;
}
.bear {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  margin-left: 3px;
}
.right-angle-bracket {
  width: 10px;
  height: 20px;
  margin: 5px;
  margin-left: 10px;
}
.career-dashboard {
  padding-bottom: 55px;
}
.career-dashboard-list {
  display: flex;
  justify-content: center;
  /* gap: 55px; */
}
.career-dashboard-list li {
  display: flex;
  width: 116px;
  height: 94px;
  color: #8a8a8d;
  font-size: 13px;
  font-weight: 430;
  letter-spacing: 0.0194em;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  padding-top: 5px;
  padding-bottom: 10px;
}
.career-dashboard-list li:hover {
  background-color: #f6f6f6;
  border-radius: 10px;
}
.career-dashboard-list li img {
  width: 56px;
  height: 56px;
  margin-bottom: 8px;
}
.main-slide {
  /* justify-content: center; */
}
.main-slide > span {
}

.maximum5-slide {
  margin-bottom: 100px;
}

.maximum5-slide span {
  display: flex;
  font-weight: 650;
  font-size: 22px;
  padding-bottom: 20px;
}

.maximum5-slide ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.maximum5-slide ul li {
  display: block;
  position: relative;
  cursor: pointer;
}
.maximum5-slide-img {
  overflow: hidden;
}
.maximum5-slide-img img {
  width: 264px;
  height: 176px;
  border-radius: 10px;
}
.maximum5-slide ul li:hover .maximum5-slide-img > img {
  transform: scale(1.02);
}

.maximum5-slide-text {
  display: flex;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;

  border-radius: 10px 10px 0 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 1;
}
.maximum5-slide-text img {
  /* display: flex; */
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-right: 15px;
}
.maximum5-slide-text > span {
  display: flex;
  padding-left: 15px;
  padding-top: 15px;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 600;
}
.maximum5-slide-section {
}
.maximum5-slide-title {
  font-weight: 600;
  font-size: 16px;
}
.maximum5-slide-contents {
  color: #858588;
  font-weight: 500;
}

.maximum3-slide ul {
  display: flex;
  gap: 22px;
  margin-bottom: 70px;
}
.maximum3-slide > span {
  display: flex;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}
.maximum3-slide-img {
  width: 100%;
  position: relative;

  overflow: hidden;
  border-radius: 10px;
}
.maximum3-slide-img:hover {
  transform: translateY(-10px);
}
.maximum3-slide-img:hover img {
  transform: scale(1.02);
}
.maximum3-slide-img img {
  display: flex;
  height: 300px;
  width: 451px;
  border-radius: 10px;
}
.maximum3-slide-section {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: #ffffff;

  width: 100%;
  /* margin-top: 30px; */
  background: linear-gradient(
    to top,
    rgba(30, 16, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* background-color: #1e10ff; */
  border-radius: 0 0 10px 10px;
}
.maximum3-slide-title {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-top: 65px;
  margin-bottom: 4px;
  margin-left: 25px;
}
.maximum3-slide-contents {
  display: block;
  font-size: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.maximum4-slide {
}
.maximum4-slide > span {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}
.maximum4-slide ul {
  display: flex;
  gap: 12px;
  margin-bottom: 69px;
}
.maximum4-slide-img {
  position: relative;
  border-radius: 10px;
  border: 1px solid #e8e8ea;
  overflow: hidden;
}
.maximum4-slide-img:hover img {
  transform: scale(1.02);
}
.maximum4-slide-img img {
  display: block;
  width: 340px;
  height: 260px;
}
.maximum4-slide-img span {
  text-decoration: none;
}
.maximum4-slide-section {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.maximum4-slide-title {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #171719;
}
.maximum4-slide-contents {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #959598;
}
.maximum9 span {
  font-size: 20;
  font-weight: 600;
}
